*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-size:12px; 
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Regole Header*/

header{
    height:487px;

    /*DEBUG*/
    /*background-color: blue;*/
}

.header-top{
    height:15%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:10px 0;
    align-items:center;

    background-color:#255EE9;
}
/*
.info-flex{

    /*DEBUG*/
   /* background-color:gold;
    border: 1px dashed black;
}
*/
.logo{
    width:17.5%;
}

.accedi{
    width:17.5%;
    text-align:right;
}

.menu-header{
    width:35%;
    
}

.menu{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:10%;
    list-style-type: none;
}

.menu a{
    color:white;
}

a{
    text-decoration: none;
}

.bottone{
    padding:5px 15px;
    border-radius:30%;
    text-decoration: none;
}

.bianco{
    background-color:white;
    color:black;
}

/*Seconda sezione dell'header*/

.header-bottom{
    width:100%;
    margin: 0 auto;
    display:grid;
    align-items: center;
    background-image:url("../img/jumbo.png");
    background-size: cover;


    /*DEBUG*/
    height:85%;
    /*background-color: blue;*/

}

.presentazione{
    width:50%;
    margin: 0 auto;

    /*DEBUG*/
    height:70%;
    background-color: violet;
}

/*Regole Main*/

.modello{
    width:60%;
    margin:0 auto;
    padding-bottom:20px;
    padding-top:20px;
}

.contenitore{

    display:flex;
    width:60%;

    /*DEBUG*/
    height:300px;
}

.grigia{
    background-color:lightgray;
}

.immagine{
    width:60%;

    /*DEBUG*/
    background-color:lightseagreen;

}

.testo{
    width:40%;
    background-color: pink;

}

.tecnologia{
       

    /*DEBUD*/
    background-color: darkgreen;
    height:500px;
}

.spazio{
    padding-bottom:20px;
    padding-top:20px;
}


/*Regole Footer*/

.parlare{
    width:30%;

    /*DEBUD*/
    background-color: rgb(255, 192, 203);
}

.footer-top{

    display:flex;
    width:60%;
    margin:0 auto;
    padding-top:10px;

    /*DEBUG*/
    height:300px;
}

.menu-footer{

    display:flex;
    width:70%;

    /*DEBUG*/
    background-color: rgb(72, 230, 230);

}

.elenco{
    width:25%;

    /*DEBUG*/
    border: 1px solid white;
}

footer{
    background-color: black;
}

.footer-bottom{

    display:flex;
    justify-content:space-between;
    
    
    /*DEBUG*/
    height:50px;
    background-color:aqua;
}

.elemento-footer{

    /*DEBUG*/
    width:5%;
    background-color: yellow;
}

.divisore{
    background-color:gray;
    margin: 0 auto;
    width:60%;
    height:2px;
    margin-bottom:20px;
}