*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    font-size:15px; 
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2{
    font-size:40px;
    margin-bottom:20px;
}

h4{
    font-size:25px;
}

p{
    line-height:1.5;
}

/*Regole Header*/

header{
    height:515px;

    /*DEBUG*/
    /*background-color: blue;*/
}

.header-top{
    height:15%;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:10px 0;
    align-items:center;

    background-color:#255EE9;
}

.logo{
    width:17.5%;
}

.accedi{
    width:17.5%;
    text-align:right;
}

.menu-header{
    width:35%;
    
}

.menu{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:7%;
    list-style-type: none;
}

.menu a{
    color:white;
}

a{
    text-decoration: none;
}

.bottone{
    padding:10px 15px;
    border-radius: 18px;
    text-decoration: none;
}

.bianco{
    background-color:white;
    color:black;
}

/*Seconda sezione dell'header*/

.header-bottom{
    width:100%;
    margin: 0 auto;
    display:grid;
    align-items: center;
    background-image:url("../img/jumbo.png");
    background-size: cover;


    /*DEBUG*/
    height:85%;
    /*background-color: blue;*/

}

.presentazione{
    width:50%;
    margin: 0 auto;
    color:white;
    display:grid;
    place-items: center;
    padding:0 20px;
    padding-bottom:20px;
    height:70%;

    /*DEBUG*/
    /*background-color: violet;*/
}

.presentazione p{
    text-align:center;
}

.contenitore_bottoni{
    display:flex;
    justify-content:center;
    gap:20%;
    width:100%;

}

.nero{
    background-color:black;
    color:white;
}

/*Regole Main*/

.modello{
    width:60%;
    margin:0 auto;
    padding-bottom:70px;
    padding-top:70px;
}

.contenitore{

    display:flex;
    width:60%;

    /*DEBUG*/
    /*height:400px;*/
}

.grigia{
    background-color:lightgray;
}

.immagine{
    width:60%;
    display:grid;
    place-items:center;

    /*DEBUG*/
    /*background-color:lightseagreen;*/

}

.immagine img{
    max-width:80%;
}

.testo{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:10%;

    /*DEBUG*/
    /*background-color: pink;*/

}

.tecnologia{
       
    text-align: center;
    display:flex;
    flex-direction:column;
    gap:30px;
    /*DEBUD*/
    /*background-color: darkgreen;*/
    
}

.tecnologia img{
    max-width:100%;
}

.stella{
    width:50%;
    margin:0 auto;
}

.blu{
    background-color:#8EA1E2;
    color:white;
}

.spazio{
    padding-bottom:20px;
    padding-top:20px;
}


/*Regole Footer*/

footer h3{
    font-size:25px;
    color:#7387D9;
}

.nazione{
    display:flex;
    margin:15px auto;
}

.nazione img{
    height:15px;
}

#lingua{
    height:15px;
    font-size:12px;
    background-color:black;
    color:white;
    border: none;
}

.social a{
    margin-right:10px;
}

.parlare{
    width:30%;

    /*DEBUD
    background-color: rgb(255, 192, 203);*/
}

.footer-top{

    display:flex;
    width:60%;
    margin:0 auto;
    padding-top:40px;

    /*DEBUG*/
    /*height:300px;*/
}

.menu-footer{

    display:flex;
    width:70%;

    /*DEBUG*/
    /*background-color: rgb(72, 230, 230);*/

}

.elenco{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:25%;
    font-size:15px;
    margin-bottom:20px;

    /*DEBUG*/
    /*border: 1px solid white;*/
}

.elenco h5{
    color:#7387D9;
}

.elenco a{
    color:white;
} 

footer{
    background-color: black;
}

.contenitore-footer-bottom{

    display:flex;
    justify-content:space-between;
    align-items:center;
    width:60%;
    margin:0 auto;
    padding-bottom:50px;
    padding-top:20px;
}

.divisore{
    background-color:gray;
    margin: 0 auto;
    width:60%;
    height:1px;
    margin-bottom:20px;
}

/*Bordo ondulato*/

.bordo{
    aspect-ratio:960/300;
    background-repeat: no-repeat center;
    background-size: cover;

    display:flex;
    justify-content: center;
    align-items: center;

    padding-bottom:50px;
}

.onda1{
    background-image: url("../img/tipo2.svg");
}

.onda2{
    background-image: url("../img/tipo1.svg");
}

